/* header section */
body {
    width: 100%
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    color: #ffffff;
    font-size: large;
    display: inline-flex;
    padding: 20px 43px;



}

header {
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    gap: 500px;


}

.banner {

    margin: 200px 300px;
    text-align: justify;
}

h1 {
    font-size: 40px;
}

.banner p {
    font-size: 20px;
}

.banner-image {
    margin-top: 50px;
    margin-right: 240px;
    margin-bottom: 0px;

    width: 635px;
    height: 800px;
}

/* main section */


/* feature section */
.feature-container {
    text-align: center;
    width: 1920px;
    height: 1120px;

}
.feature-title{
    margin: 10px 340px;
    padding-left: 450px;
    padding-top: 15px;
    font-size: large;
}

.feature-image {
    width: 1920px;
    height: 600px;
    display: flex;
    padding: 5px 340px;
    margin:5px 240px;
    gap: 10px;
   
    
}

.feature-image1 {
    
    width: 464px;
    height: 538px;
    background: rgba(167, 33, 98, 0.15);
    border-radius: 300px 300px 0px 0px;
    
    
}

.feature-image2 {
    background-color: #0597A026;
    border-radius: 300px 300px 0px 0px;
    width: 464px;
    height: 538px;
}

.feature-image3 {
    background: #477D1126;
    border-radius: 300px 300px 0px 0px;
    width: 464px;
    height: 538px;
}



.feature-footer ul{
    display: flex;
    width: 1920px;
    
    list-style-type: none;
    justify-content:space-around;
    
}

.feature-footer li{
    text-decoration: none;
    text-decoration-line: underline;
    font-size: large;
    font-weight: 600;
    padding-left: 600px;
}


/* support section */
.support-container{
    width: 1440px;
    height: 320px;
    border-radius: 8px;
    background:#2727270D;
    display: flex;
    justify-content:space-around;
    margin-left: 580px;

}
.support1{
    padding: 100px 50px;
}

/* sign section */

.sign{
    width: 100uv;
    height: 620px;
    display: flex;
    margin: 50px 0px;
    padding: 10px 660px;
    border-radius: 8px;
    background-color:#E554730D ;
    gap: 150px;
}

.sign-title{
    font-weight: 400;
    padding-top: 150px;
}
   
